.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

#bg {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: auto;
}

#bg-image {
    width: 100vw;
    height: 200px;
    background: url('../images/pattern-bg.png') top no-repeat;
    background-size: 100vw 100%;
}

#mapDIV {
    width: 100vw;
    height: 600px;
    bottom: 0;
}

main {
    position: relative;
    z-index: 1;
}

main > h1 {
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    color: white;
}

.container-search {
    height: 60px;
    margin: 15px;
    display:flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 15px;
}

.container-search > input[type=text] {
    padding-left: 20px;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    border: none;
    width: 80%;
    height: 100%;
}

.container-search > input[type=text]:hover, 
.container-search > input[type=button]:hover {
    color: var(--very-dark-gray);
}

.container-search > input[type=button]:hover {
    cursor: pointer;
    background-color: var(--very-dark-gray);
}

.container-search > input[type=button] {
    background: url('../images/icon-arrow.svg') center no-repeat black;

    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 20%;
    border: none;
}

.descriptions {
    padding: 25px;
    margin: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.description {
    text-align: center;
}

.description label {
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--dark-gray);
}

.description h2 {
    font-size: 18px;
    margin: 6px 0 14px 0;
    color: var(--very-dark-gray);
}

@media (min-width: 700px) {
    #bg-image {
        height: 35vh;
    }
    
    #mapDIV {
        height: 65vh;
    }

    main > h1 {
        font-size: 28px;
        
    }

    .container-search {
        margin: 30px auto;
        max-width: 600px;
    }

    .descriptions {
        margin: 15px auto;
        max-width: 900px;
        flex-direction: row;
        justify-content: space-around;
    }
}